<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <title>Portfolio</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/summary.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
    <nav>
        <h1>MY PORTFOLIO</h1>
        <ul>
            <li>ABOUT ME</li>
            <li>WORKS</li>
            <li>GET IN TOUCH</li>
        </ul>
    </nav>
</body>
</html>