<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <title>Jade's Portfolio</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/summary.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
        <div>
            <h5>{{ message }}</h5>
        </div>
    </div>
    {% endfor %}
    {% endif %}
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
          <i class="fas fa-bars"></i>
        </label>
        <label class="logo"><a href="{% url 'index' %}">MY PORTFOLIO</a></label>
        <ul>
          <li><a href="#">About me</a></li>
          <li><a href="#work-section">My projects</a></li>
          <li><a href="#contact-section">Get in touch</a></li>
          <li><a href="{% url 'admin:index' %}">Admin</a></li>
        </ul>
      </nav>

      <section id="info-section">
          <div class="myinfo-container">
              <div class="myinfo-wrap">
                <i class="fas fa-chevron-up fa-2x"></i>
                  <div class="myinfo-desc">
                    {% if info %}
                      {% for obj in info %}
                        <h1>{{ obj.name }}</h1>
                        <h2>NICKNAME: {{ obj.nick_name }}</h2>
                        <p>{{ obj.description }}</p>
                      {% endfor %}
                    {% endif %}
                  </div>
                  {% for img_obj in info %}
                  <div class="my-profile-pic"><img src="{{ img_obj.get_profile_image.url }}" alt="profile pic" loading="lazy" /></div>
                  {% endfor %}
              </div>
          </div>
      </section>

      <section id="work-section">
          <div class="work-container">
              <div class="work-wrap">
                <h1 id="section2-title">MY PROJECTS</h1>
              {% if not work %}
                <div class="no-wrok">
                  <h1>No work available, please contact Admin!</h1>
                </div>
              {% endif %}
                {% if work %}
                {% for proj in work %}
                <div class="each-work">
                  <a href="{{ proj.github_project }}"><img src="{{ proj.get_image.url }}" id="project-image" width="500px" height="auto" loading="lazy" /></a>
                  <div class="project-desc">
                    <h2>{{ proj.project_name }}</h2>
                    <p>{{ proj.project_description }}</p>
                    <a href="{{ proj.github_project }}" id="github-icon"><i class="fab fa-github"></i></a>
                  </div>
                </div>
                {% endfor %}
                {% endif %}
              </div>
          </div>
      </section>

      <section id="contact-section">
        <div class="contact-container">
          <div class="contact-wrap">
            <h1>Contact Me!</h1>
            <div class="contact-input">
              <form method="post" class="form-input">
                  {% csrf_token %}
                  <h3>From EMAIL: </h3>{{ form.from_email }}</h3>
                  <h3>Subject: </h3>{{ form.subject }}
                  <h3>Message: </h3>{{ form.message }}
                  <button type="submit">Send</button>
              </form>
            </div>
          </div>
        </div>
      </section>

      <footer>
        <div class="footer-container">
          {% for f in info %}
            <div class="footer-wrap">
              <a href="mailto:{{ f.email }}"><i class="fa fa-envelope" aria-hidden="true"></i></a>
              <a href="{{ f.instagram }}"><i class="fab fa-instagram"></i></a>
              <a href="{{ f.github }}"><i class="fab fa-github"></i></a>
            </div>
          {% endfor %}
        </div>
        <small>&copy; Copyright 2021, Nattapol Boonyapornpong</small>
      </footer>

      <script type="text/javascript" src="../../static/js/vanilla-tilt.js"></script>
      <script type="text/javascript">
            VanillaTilt.init(document.querySelectorAll(".my-profile-pic, #project-image"), {
                max: 10,
                speed: 300,
                glare: true,
                "max-glare": 1,
            });
        </script>
</body>
</html>