<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <title>Portfolio</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/summary.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
          <i class="fas fa-bars"></i>
        </label>
        <label class="logo"><a href="{% url 'index' %}">MY PORTFOLIO</a></label>
        <ul>
          <li><a href="#">About me</a></li>
          <li><a href="#">Works</a></li>
          <li><a href="#">Get in touch</a></li>
          <li><a href="{% url 'admin:index' %}">Admin</a></li>
        </ul>
      </nav>

      <section>
          <div class="myinfo-container">
              <div class="myinfo-wrap">
                <i class="fas fa-chevron-up fa-2x"></i>
                  <div class="myinfo-desc">
                    {% if info %}
                      {% for obj in info %}
                        <h1>{{ obj.name }}</h1>
                        <h2>NICKNAME: {{ obj.nick_name }}</h2>
                        <p>{{ obj.description }}</p>
                      {% endfor %}
                    {% endif %}
                  </div>
                  <div class="my-profile-pic"><img src="{% static 'images/0000411.jpeg' %}" alt="profile pic"></div>
              </div>
          </div>
      </section>

      <section>
          <div class="work-container">
              <div class="work-wrap">
                {% if work %}
                {% for proj in work %}
                <div class="each-work">
                  <a href="{{ proj.github_project }}"><img src="{{ proj.get_image.url }}" id="project-image" width="500px" height="auto" /></a>
                  <div class="project-desc">
                    <h2>{{ proj.project_name }}</h2>
                    <p>{{ proj.project_description }}</p>
                    <a href="{{ proj.github_project }}" id="github-icon"><i class="fab fa-github"></i></a>
                  </div>
                </div>
                {% endfor %}
                {% endif %}
              </div>
          </div>
      </section>

      <script type="text/javascript" src="../../static/js/vanilla-tilt.js"></script>
      <script type="text/javascript">
            VanillaTilt.init(document.querySelectorAll(".my-profile-pic, #project-image"), {
                max: 10,
                speed: 300,
                glare: true,
                "max-glare": 1,
            });
        </script>
</body>
</html>