* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}
/* nav-bar part */
nav{
    height: 80px;
    width: 100%;
    position: fixed; /*remove if only you don't want nav to be fixed*/
}
label.logo{
    font-size: 35px;
    line-height: 80px;
    padding: 0 80px;
    font-weight: bold;
}
a:-webkit-any-link {
    color: white;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    font-size: 21px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    background: none;
    text-shadow: none;
    transition: background .6s, color .6s, text-shadow .5s;
}
a.active, .logo a:hover {
    background: none;
    color: white;
    transition: .6s;
    text-shadow: -1px 0 3px #08F5D1, 0 3px 7px #08F5D1, 1px 0 3px #08F5D1, 0 -5px 7px #08F5D1;
}
a.active,a:hover{
    background: #08F5D1;
    color: black;
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

/* section */
section {
    height: calc(100vh - 80px);
}
/* section1 */
.myinfo-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.myinfo-wrap {
    width: 60%;
    background-color: red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.my-profile-pic {
    width: 30em;
    height: 30em;
    border-radius: 100%;
    overflow: hidden;
}
.my-profile-pic img {
    max-width: 100%;
}

@media (max-width: 952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
}
@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #08F5D1;
        top: 80px;
        left: 100%;
        text-align: end;
        transition: all .3s;
    }
    nav ul li{
        display: block;
        margin: 50px 30px;
        line-height: 50px;
    }
    nav ul li a{
        font-size: 23px;
    }
    a:hover,a.active{
        background: none;
        color: white;
        text-shadow: 1.5px 1.5px black;
    }
    #check:checked ~ ul{
        left: 0;
    }
    label.logo{
        font-size: 25px;
        padding-left: 35px;
    }
}
